/* fonts */
.font-default {
  font-family: "Inter", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-general-sans {
  font-family: "General Sans", sans-serif;
}

.font-plus-jakarta {
  font-family: "Plus Jakarta", sans-serif;
}

.font-onest {
  font-family: "Onest", sans-serif;
}
