/* @import "./themes.css"; */
@import "./fonts.css";
@import "./classes.css";

/* General Sans font */
@import url("https://api.fontshare.com/v2/css?f[]=general-sans@701,200,500,301,201,300,601,600,401,501,400,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Typography */
    --font-inter: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;

    --font-general-sans: "General Sans", -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;

    --font-plus-jakarta: "Plus Jakarta", -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;

    --font-onest: "Onest", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;

    --font-xs: 0.75rem; /* 12px */
    --font-sm: 0.875rem; /* 14px */
    /* 15px font */
    --font-base: 1rem; /* 16px */
    --font-md: 1rem; /* 16px */
    --font-lg: 1.125rem; /* 18px */
    --font-xl: 1.25rem; /* 20px */

    /* display */
    --font-2xl: 1.5rem; /* 24px */
    --font-3xl: 1.875rem; /* 30px */
    --font-4xl: 2.25rem; /* 36px */
    --font-5xl: 3rem; /* 48px */
    --font-6xl: 3.75rem; /* 60px */
    --font-7xl: 4.5rem; /* 72px */

    /* Line Height */
    --line-height-xs: 1.125rem; /* 18px */
    --line-height-sm: 1.25rem; /* 20px */
    --line-height-base: 1.5rem; /* 24px */
    --line-height-md: 1.5rem; /* 24px */
    --line-height-lg: 1.75rem; /* 28px */
    --line-height-xl: 1.875rem; /* 30px */

    --line-height-2xl: 2rem; /* 32px */
    --line-height-3xl: 2.375rem; /* 38px */
    --line-height-4xl: 2.75rem; /* 44px */
    --line-height-5xl: 3.75rem; /* 60px */
    --line-height-6xl: 4.5rem; /* 72px */
    --line-height-7xl: 5.625rem; /* 90px */

    --radius: 0.5rem;

    --background: 1 0 0; /* oklch(1 0 0) */
    --foreground: 0 0 0; /* oklch(0 0 0) */
    --card: 0.97 0.0013 286.38; /* oklch(0.97 0.0013 286.38) */
    --card-foreground: 0 0 0; /* oklch(0 0 0) */
    --popover: 1 0 0; /* oklch(1 0 0) */
    --popover-foreground: 0 0 0; /* oklch(0 0 0) */
    --primary: 0 0 0; /* oklch(0 0 0) */
    --primary-foreground: 1 0 0; /* oklch(1 0 0) */
    --secondary: 0.93 0.0602 258.65; /* oklch(0.93 0.0602 258.65) */
    --secondary-foreground: 0 0 0; /* oklch(0 0 0) */
    --muted: 0.93 0 0; /* oklch(0.93 0 0) */
    --muted-foreground: 0.6 0 0; /* oklch(0.6 0 0) */
    --accent: 0.96 0 0; /* oklch(0.96 0 0) */
    --accent-foreground: 0 0 0; /* oklch(0 0 0) */
    --destructive: 0.66 0.2204 25.5; /* oklch(0.66 0.2204 25.5) */
    --destructive-foreground: 1 0 0; /* oklch(1 0 0) */
    --border: 0.9 0 0; /* oklch(0.9 0 0) */
    --input: 0.9 0 0; /* oklch(0.9 0 0) */
    --ring: 0.7968 0.103455 257.2023; /* oklch(0.7968 0.103455 257.2023) */

    --chart-1: 0.7381 0.1275 282.83; /* oklch(0.7381 0.1275 282.83) */
    --chart-2: 0.8598 0.0772 183.48; /* oklch(0.8598 0.0772 183.48) */
    --chart-3: 0 0 0; /* oklch(0 0 0) */
    --chart-4: 0.7968 0.103455 257.2023; /* oklch(0.7968 0.103455 257.2023) */
    --chart-5: 0.8238 0.0602 13.35; /* oklch(0.8238 0.0602 13.35) */

    --sidebar-background: 1 0 0;
    --sidebar-foreground: 0 0 0;
    --sidebar-primary: 0 0 0;
    --sidebar-primary-foreground: 1 0 0;
    --sidebar-accent: 0.96 0 0;
    --sidebar-accent-foreground: 0 0 0;
    --sidebar-border: 0.9 0 0;
    --sidebar-ring: 0.89 0.0602 258.65;

    --info: 0.52 0.3 226.32; /* oklch(0.52 0.3 226.32) */
    --danger: 0.6747 0.2139 30.76; /* oklch(0.6747 0.2139 30.76) #FF513A */
    --success: 0.7217 0.19 151.42; /* oklch(0.7217 0.19 151.42) #00c563 */
    --warning: 0.7678 0.1554 66.71; /* oklch(0.7678 0.1554 66.71) #f59d2f */
  }

  .dark {
    --background: 0.21 0.006 285.885;
    --foreground: 1 0 0;
    --card: 0.24 0.006 286.033;
    --card-foreground: 1 0 0;
    --popover: 0.23 0.006 286.033; /* oklch(0.23 0.006 286.033) */
    --popover-foreground: 1 0 0;
    --primary: 0.92 0.004 286.32;
    --primary-foreground: 0 0 0;
    --secondary: 0.274 0.006 286.033;
    --secondary-foreground: 1 0 0;
    --muted: 0.274 0.006 286.033;
    --muted-foreground: 0.705 0.015 286.067;
    --accent: 0.34 0.013 285.805;
    --accent-foreground: 1 0 0;
    --destructive: 0.6892 0.21 25.92; /* Converted 68.92% to 0.6892 */
    --destructive-foreground: 0 0.0099 269.97;
    --border: 0.274 0.006 286.033;
    --input: 0.37 0.013 285.805;
    --ring: 0.623 0.214 259.815;

    --chart-1: 0.6265 0.24 261.95;
    --chart-2: 0.6891 0.1 192.36;
    --chart-3: 0.6989 0.19 357.26;
    --chart-4: 0.6906 0.16 246.5;
    --chart-5: 0.62 0.2 22.13;

    --sidebar-background: 0.141 0.005 285.823;
    --sidebar-foreground: 0.967 0.001 286.375;
    --sidebar-primary: 0.92 0.004 286.32;
    --sidebar-primary-foreground: 0 0 0;
    --sidebar-accent: 0.34 0.013 285.805;
    --sidebar-accent-foreground: 1 0 0;
    --sidebar-border: 0.274 0.006 286.033;
    --sidebar-ring: 0.623 0.214 259.815;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  .min-w-main {
    @apply min-w-[calc(100vw-224px)];
  }

  pre {
    @apply rounded bg-popover p-6 font-mono text-xs text-foreground;
  }

  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  /* text select color */
  ::-moz-selection {
    /* Code for Firefox */
    @apply bg-primary text-primary-foreground;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }
}

.theme-text-sizes-small {
  --font-xs: 0.7125rem; /* 11.4px */
  --font-sm: 0.83125rem; /* 13.3px */
  --font-base: 0.95rem; /* 15.2px */
  --font-md: 0.95rem; /* 15.2px */
  --font-lg: 1.06875rem; /* 17.1px */
  --font-xl: 1.1875rem; /* 19px */

  /* display */
  --font-2xl: 1.425rem; /* 22.8px */
  --font-3xl: 1.78125rem; /* 28.5px */
  --font-4xl: 2.1375rem; /* 34.2px */
  --font-5xl: 2.85rem; /* 45.6px */
  --font-6xl: 3.5625rem; /* 57px */
  --font-7xl: 4.275rem; /* 68.4px */

  /* Line Height */
  --line-height-xs: 1.06875rem; /* 17.1px */
  --line-height-sm: 1.1875rem; /* 19px */
  --line-height-base: 1.425rem; /* 22.8px */
  --line-height-md: 1.425rem; /* 22.8px */
  --line-height-lg: 1.6625rem; /* 26.6px */
  --line-height-xl: 1.78125rem; /* 28.5px */

  --line-height-2xl: 1.9rem; /* 30.4px */
  --line-height-3xl: 2.25625rem; /* 36.1px */
  --line-height-4xl: 2.6125rem; /* 41.8px */
  --line-height-5xl: 3.5625rem; /* 57px */
  --line-height-6xl: 4.275rem; /* 68.4px */
  --line-height-7xl: 5.34375rem; /* 85.5px */
}

.theme-text-sizes-default {
  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-base: 1rem; /* 16px */
  --font-md: 1rem; /* 16px */
  --font-lg: 1.125rem; /* 18px */
  --font-xl: 1.25rem; /* 20px */

  /* display */
  --font-2xl: 1.5rem; /* 24px */
  --font-3xl: 1.875rem; /* 30px */
  --font-4xl: 2.25rem; /* 36px */
  --font-5xl: 3rem; /* 48px */
  --font-6xl: 3.75rem; /* 60px */
  --font-7xl: 4.5rem; /* 72px */

  /* Line Height */
  --line-height-xs: 1.125rem; /* 18px */
  --line-height-sm: 1.25rem; /* 20px */
  --line-height-base: 1.5rem; /* 24px */
  --line-height-md: 1.5rem; /* 24px */
  --line-height-lg: 1.75rem; /* 28px */
  --line-height-xl: 1.875rem; /* 30px */

  --line-height-2xl: 2rem; /* 32px */
  --line-height-3xl: 2.375rem; /* 38px */
  --line-height-4xl: 2.75rem; /* 44px */
  --line-height-5xl: 3.75rem; /* 60px */
  --line-height-6xl: 4.5rem; /* 72px */
  --line-height-7xl: 5.625rem; /* 90px */
}

.theme-text-sizes-large {
  --font-xs: 0.7875rem; /* 12.6px */
  --font-sm: 0.91875rem; /* 14.7px */
  --font-base: 1.05rem; /* 16.8px */
  --font-md: 1.05rem; /* 16.8px */
  --font-lg: 1.18125rem; /* 18.9px */
  --font-xl: 1.3125rem; /* 21px */

  /* display */
  --font-2xl: 1.575rem; /* 25.2px */
  --font-3xl: 1.96875rem; /* 31.5px */
  --font-4xl: 2.3625rem; /* 37.8px */
  --font-5xl: 3.15rem; /* 50.4px */
  --font-6xl: 3.9375rem; /* 63px */
  --font-7xl: 4.725rem; /* 75.6px */

  /* Line Height */
  --line-height-xs: 1.18125rem; /* 18.9px */
  --line-height-sm: 1.3125rem; /* 21px */
  --line-height-base: 1.575rem; /* 25.2px */
  --line-height-md: 1.575rem; /* 25.2px */
  --line-height-lg: 1.8375rem; /* 29.4px */
  --line-height-xl: 1.96875rem; /* 31.5px */

  --line-height-2xl: 2.1rem; /* 33.6px */
  --line-height-3xl: 2.49375rem; /* 39.9px */
  --line-height-4xl: 2.8875rem; /* 46.2px */
  --line-height-5xl: 3.9375rem; /* 63px */
  --line-height-6xl: 4.725rem; /* 75.6px */
  --line-height-7xl: 5.90625rem; /* 94.5px */
}

/* --background: 240 100% 99.2%;
    --foreground: 210 18% 14.5%;

    --muted: 210 15% 54.9%;
    --muted-foreground: 210 18% 68.6%;

    --popover: 240 100% 99.2%;
    --popover-foreground: 210 18% 14.5%;

    --card: 240 100% 99.2%;
    --card-foreground: 210 18% 14.5%;

    --border: 213 7% 93.3%;
    --input: 245 74% 38.8%;

    --primary: 245 74% 38.8%;
    --primary-foreground: 0 0% 98.8%;

    --secondary: 240 23% 91.2%;
    --secondary-foreground: 210 9% 6.1%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 236 28% 83.9%;

    --radius: 0.6rem; */
