.theme-default {
  --background: 1 0 0 /* oklch(1 0 0) */;
  --foreground: 0.18 0.0581 267.75 /* oklch(0.18 0.0581 267.75) */;

  --card: 1 0 0 /* oklch(1 0 0) */;
  --card-foreground: 0.18 0.0581 267.75 /* oklch(0.18 0.0581 267.75) */;

  --popover: 1 0 0 /* oklch(1 0 0) */;
  --popover-foreground: 0.18 0.0581 267.75 /* oklch(0.18 0.0581 267.75) */;

  --primary: 0.3 0.1037 277.24 /* oklch(0.30 0.1037 277.24) */;
  --primary-foreground: 1 0 0 /* oklch(1 0 0) */;

  --secondary: 0.9 0.0534 280.17 /* oklch(0.90 0.0534 280.17) */;
  --secondary-foreground: 0 0 0 /* oklch(0 0 0) */;

  --muted: 0.92 0.0534 280.17 /* oklch(0.92 0.0534 280.17) */;
  --muted-foreground: 0.62 0.0534 280.17 /* oklch(0.62 0.0534 280.17) */;

  --accent: 0.95 0.0749 286 /* oklch(0.95 0.0749 286) */;
  --accent-foreground: 0.18 0.0581 267.75 /* oklch(0.18 0.0581 267.75) */;

  --destructive: 0.53 0.2 8.9243 /* oklch(0.53 0.2 8.9243) */;
  --destructive-foreground: 1 0 0 /* oklch(1 0 0) */;

  --border: 0.93 0.0749 286 /* oklch(0.93 0.0749 286) */;
  --input: 0.9 0.0749 286 /* oklch(0.90 0.0749 286) */;

  --ring: 0.38 0.1037 277.24 /* oklch(0.38 0.1037 277.24) */;

  --chart-1: 0.3 0.1037 277.24 /* oklch(0.30 0.1037 277.24) */;
  --chart-2: 0.67 0.0772 208.77 /* oklch(0.67 0.0772 208.77) */;
  --chart-3: 0.53 0.2 8.9243 /* oklch(0.53 0.2 8.9243) */;
  --chart-4: 0.66 0.1809 265.3 /* oklch(0.66 0.1809 265.3) */;
  --chart-5: 0.81 0.0928 58.44 /* oklch(0.81 0.0928 58.44) */;

  --sidebar-background: 1 0 0 /* oklch(1 0 0) */;
  --sidebar-foreground: 0.18 0.0581 267.75 /* oklch(0.18 0.0581 267.75) */;
  --sidebar-primary: 0.3 0.1037 277.24 /* oklch(0.30 0.1037 277.24) */;
  --sidebar-primary-foreground: 1 0 0 /* oklch(1 0 0) */;
  --sidebar-accent: 0.95 0.0749 286 /* oklch(0.95 0.0749 286) */;
  --sidebar-accent-foreground: 0.18 0.0581 267.75
    /* oklch(0.18 0.0581 267.75) */;
  --sidebar-border: 0.93 0.0749 286 /* oklch(0.93 0.0749 286) */;
  --sidebar-ring: 0.38 0.1037 277.24 /* oklch(0.38 0.1037 277.24) */;
}

.dark .theme-default {
  --background: 0.18 0.0258 267.75 /* oklch(0.18 0.0258 267.75) */;
  --foreground: 1 0 0 /* oklch(1 0 0) */;

  --card: 0.22 0.0258 267.75 /* oklch(0.22 0.0258 267.75) */;
  --card-foreground: 1 0 0 /* oklch(1 0 0) */;

  --popover: 0.22 0.0258 267.75 /* oklch(0.22 0.0258 267.75) */;
  --popover-foreground: 1 0 0 /* oklch(1 0 0) */;

  --primary: 0.55 0.1337 279.34 /* oklch(0.55 0.1337 279.34) */;
  --primary-foreground: 1 0 0 /* oklch(1 0 0) */;

  --secondary: 0.34 0.0258 267.75 /* oklch(0.34 0.0258 267.75) */;
  --secondary-foreground: 1 0 0 /* oklch(1 0 0) */;

  --muted: 0.3 0.0258 267.75 /* oklch(0.30 0.0258 267.75) */;
  --muted-foreground: 0.67 0.0258 267.75 /* oklch(0.67 0.0258 267.75) */;
  --accent: 0.3 0.0258 267.75 /* oklch(0.30 0.0258 267.75) */;
  --accent-foreground: 1 0 0 /* oklch(1 0 0) */;
  --destructive: 0.6 0.2 8.9243 /* oklch(0.60 0.2 8.9243) */;
  --destructive-foreground: 1 0 0 /* oklch(1 0 0) */;
  --border: 0.28 0.0258 267.75 /* oklch(0.28 0.0258 267.75) */;
  --input: 0.3 0.0258 267.75 /* oklch(0.30 0.0258 267.75) */;
  --ring: 0.55 0.1337 279.34 /* oklch(0.55 0.1337 279.34) */;

  --chart-1: 0.55 0.1337 279.34 /* oklch(0.55 0.1337 279.34) */;
  --chart-2: 0.67 0.0772 208.77 /* oklch(0.55 0.0772 208.77) */;
  --chart-3: 0.59 0.1301 8.9243 /* oklch(0.59 0.1301 8.9243) */;
  --chart-4: 0.66 0.1809 265.3 /* oklch(0.66 0.1809 265.3) */;
  --chart-5: 0.66 0.0928 58.44 /* oklch(0.66 0.0928 58.44) */;

  --sidebar-background: 0.18 0.0258 267.75 /* oklch(0.18 0.0258 267.75) */;
  --sidebar-foreground: 1 0 0 /* oklch(1 0 0) */;
  --sidebar-primary: 0.55 0.1337 279.34 /* oklch(0.55 0.1337 279.34) */;
  --sidebar-primary-foreground: 0 0 0 /* oklch(0 0 0) */;
  --sidebar-accent: 0.3 0.0258 267.75 /* oklch(0.30 0.0258 267.75) */;
  --sidebar-accent-foreground: 1 0 0 /* oklch(1 0 0) */;
  --sidebar-border: 0.3 0.0258 267.75 /* oklch(0.30 0.0258 267.75) */;
  --sidebar-ring: 0.55 0.1337 279.34 /* oklch(0.55 0.1337 279.34) */;
}

.theme-granish {
  --background: 1 0 0;
  --foreground: 0.18 0.0232 250.35;
  --card: 1 0 0;
  --card-foreground: 0.18 0.0232 250.35;
  --popover: 1 0 0;
  --popover-foreground: 0.18 0.0232 250.35;
  --primary: 0.68 0.127 166.4;
  --primary-foreground: 1 0 0;
  --secondary: 0.34 0.0512 277.28;
  --secondary-foreground: 1 0 0;
  --muted: 0.9 0.0132 250.35;
  --muted-foreground: 0.61 0.0132 250.35;
  --accent: 0.94 0.0512 277.28;
  --accent-foreground: 0.18 0.0232 250.35;
  --destructive: 0.59 0.1758 8.72;
  --destructive-foreground: 1 0 0;
  --border: 0.92 0.0132 250.35;
  --input: 0.9 0.0132 250.35;
  --ring: 0.34 0.0512 277.28;

  --chart-1: 0.65 0.097 166.4;
  --chart-2: 0.65 0.224 283.96;
  --chart-3: 0.78 0.2413 334.35;
  --chart-4: 0.69 0.275 249.15;
  --chart-5: 0.73 0.2129 39.07;

  --sidebar-background: 0.98 0.0232 250.35;
  --sidebar-foreground: 0.18 0.0232 250.35;
  --sidebar-primary: 0.68 0.127 166.4;
  --sidebar-primary-foreground: 1 0 0;
  --sidebar-accent: 0.94 0.0512 277.28;
  --sidebar-accent-foreground: 0.18 0.0232 250.35;
  --sidebar-border: 0.92 0.0132 250.35;
  --sidebar-ring: 0.34 0.0512 277.28;
}
.dark .theme-granish {
  --background: 0.23 0.0252 277.28;
  --foreground: 0.95 0.0093 230.11;
  --card: 0.27 0.0252 277.28;
  --card-foreground: 0.95 0.0232 250.35;
  --popover: 0.25 0.0252 277.28;
  --popover-foreground: 0.95 0.0093 230.11;
  --primary: 0.7 0.097 166.4;
  --primary-foreground: 0 0 0;
  --secondary: 0.36 0.0252 277.28;
  --secondary-foreground: 1 0.0232 250.35;
  --muted: 0.29 0.0252 277.28;
  --muted-foreground: 0.67 0.0252 277.28;
  --accent: 0.3 0.0252 277.28;
  --accent-foreground: 1 0.0252 277.28;
  --destructive: 0.58 0.1558 8.72;
  --destructive-foreground: 0 0.0252 277.28;
  --border: 0.29 0.0252 277.28;
  --input: 0.32 0.0252 277.28;
  --ring: 0.68 0.127 166.4;

  --chart-1: 0.7 0.097 166.4;
  --chart-2: 0.68 0.1624 283.96;
  --chart-3: 0.74 0.1213 114.35;
  --chart-4: 0.7 0.175 249.15;
  --chart-5: 0.71 0.1429 39.07;

  --sidebar-background: 0.2 0.0232 250.35;
  --sidebar-foreground: 0.95 0.0093 230.11;
  --sidebar-primary: 0.7 0.097 166.4;
  --sidebar-primary-foreground: 0 0.0252 277.28;
  --sidebar-accent: 0.29 0.0252 277.28;
  --sidebar-accent-foreground: 1 0.0252 277.28;
  --sidebar-border: 0.26 0.0252 277.28;
  --sidebar-ring: 0.7 0.097 166.4;
}
